@charset "UTF-8";

@font-face {
    font-family: 'Motiva Sans';
    src: url(font/MotivaSansRegular.woff.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --bg-destaque: #171A21;
    --font-destaque: 'Tahoma', sans-serif;
    --font-des-peso: Large;
    --font-secundaria: Arial;
    --font-color: #B8B6B4;
}

body {
    font-family: 'Motiva Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    background: -webkit-linear-gradient(left, #000000 16%,#1e5799 100%); 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin: 32px auto;
}

header {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 36px 56px;
    gap: 56px;
    background-color: #171A21;
}

#logo {
    height: 75px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 112px;
    gap: 36px;
    font-size: 1.3rem;
}

nav > a {
    color: var(--font-color);
}

nav > a:hover {
    color: whitesmoke;
}

.video-loop {
    display: block;
    margin: auto;
    width: 100%;
}

.container {
    display: inline-block;
    padding: 16px 24px;
    align-items: center;
    margin: auto;
}

.container-title {
    color: var(--font-color);
    padding: 4px 12px;
}

.container-title:hover {
    color: whitesmoke;
}

.cover {
    align-self: center;
    height: 400px;
}

.mySlides {
    display: none;
}

.offer-div {
    display: flex;
    flex-direction: column;
    column-count: 2;
    align-items: center;
    align-self: center;
    align-content: center;
}

.offer-capsule {
    display: inline-flex;
    align-items: center;
    align-self: center;
    align-content: center;
    column-count: 2;
    column-gap: 24px;
}

.offer-capsule > img {
    margin-top: 24px;
}

.offer-cover {
    height: 200px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 56px;
    background-color: var(--bg-destaque);
    height: 8rem;
    color: var(--font-color);
}